{% load static %}
<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="{% static 'tgi/css/bootstrap.min.css' %}">
	</HEAD>
	<BODY>
	<!-- NAVBAR -->
		<NAV class="navbar navbar-expand-sm bg-dark navbar-dark">
			<A class="navbar-brand" href="{% url 'tgi:index' %}">Inicio</A>
			<UL class="navbar-nav">
				<LI class="nav-item">
					<A class="nav-link" href="{% url 'tgi:detail' %}">Detalles del Clasificador</A>
				</LI>
				<LI class="nav-item">
					<A class="nav-link" href="{% url 'tgi:clasif' %}">Clasificar Busquedas</A>
				</LI>
			</UL>
		</NAV>
		
	<!-- CUERPO PAGINA -->
		<br>
		<DIV class="jumbotron container">
			{% if error_message %}
			<DIV class="alert alert-warning" role="alert">
				{{ error_message }}
			</DIV>
			{% endif %}
			<FORM class="form-inline justify-content-center" action="{% url 'tgi:classification' %}" method="post">
			{% csrf_token %}
				<DIV class="form-group">
					<LABEL for="choice" class="mr-sm-2" >Select the search you wish to classify</LABEL>
					<SELECT class="form-control mb-2 mr-sm-2" id="choice" name="choice">
						{% for search in searches %}
							<OPTION value="{{ search.id }}">{{ search.search_text }}</OPTION>
						{% endfor %}
					</SELECT>
				</DIV>
				<BUTTON type="submit" class="btn btn-primary mb-2">Classify</BUTTON>
			</FORM>
		</DIV>
	</BODY>
	<FOOTER >
		<P class="text-center">&copy; Copyright 2019 Pierre Simon Callist Yannick Tondreau</P>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="{% static 'tgi/js/bootstrap.min.js' %}"></script>
	</FOOTER>
</HTML>