{% load static %}
<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="{% static 'tgi/css/bootstrap.min.css' %}">
	</HEAD>
	<BODY>
	<!-- NAVBAR -->
		<NAV class="navbar navbar-expand-sm bg-dark navbar-dark">
			<A class="navbar-brand" href="{% url 'tgi:index' %}">Test</A>
			<UL class="navbar-nav">
				<LI class="nav-item">
					<A class="nav-link" href="{% url 'tgi:detail' %}">Detalles del Clasificador</A>
				</LI>
				<LI class="nav-item">
					<A class="nav-link" href="{% url 'tgi:clasif' %}">Clasificar Busquedas</A>
				</LI>
			</UL>
		</NAV>
		
	<!-- CUERPO PAGINA -->
		<DIV class="container">
		<H1 class="text-center">Resultados de la b&uacute;squeda: </H1> 
		<H2 class="text-center">{{ search.search_text }}</H2>
		<TABLE class="table table-striped">
			<THEAD>
				<TR>
					<TH>Author</TH>
					<TH>Text</TH>
					<TH>Hashtags</TH>
					<TH>Date Published</TH>
				</TR>
			</THEAD>
			<TBODY>
				{% for tweet in search.tweet_set.all %}
					<TR>
						<TD>{{ tweet.author }}</TD>
						<TD>{{ tweet.text }}</TD>
						<TD>
							{% for hashtag in tweet.hashtag_set.all %}
								{{ hashtag.hashtag_text }}
							{% endfor %}
						</TD>
						<TD>{{ tweet.pub_date }}</TD>
					</TR>
				{% endfor %}
		</TABLE>
		</DIV>
	</BODY>
	<FOOTER>
		<P class="text-center">&copy; Copyright 2019 Pierre Simon Callist Yannick Tondreau</P>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="{% static 'tgi/js/bootstrap.min.js' %}"></script>
	</FOOTER>
</HTML>